.inspection-history {
  /* margin-top: 50px; */
  padding: 20px;
}

.date-selector {
  margin-bottom: 20px;
}

.inspection-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.inspection-table th, .inspection-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.inspection-table th {
  background-color: #f2f2f2;
  color: black;
}

.inspection-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.inspection-table tr:hover {
  background-color: #f1f1f1;
}
