.product-management {
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px; /* 검색 바와 버튼 사이의 간격 */
}

.search-bar img.search-icon {
  width: 40px; /* 아이콘의 너비 */
  height: 40px; /* 아이콘의 높이 */
}

.search-bar input {
  width: 40%; /* 검색 바의 너비 설정 */
  max-width: 300px; /* 검색 바 최대 너비 설정 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #d0ac88;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #b08968;
}

/* 상품 등록 버튼 스타일 */
.openRegisterModal {
  padding: 10px 20px;
  background-color: #d0ac88;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.openRegisterModal:hover {
  background-color: #b08968;
}

.product-list {
  overflow-x: auto;
}

.product-list table {
  width: 100%;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.product-list th {
  background-color: #f8f8f8;
}

/* 수정 및 삭제 버튼 스타일 */
.product-item button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.product-item button:first-of-type {
  background-color: #ffa07a;
  color: white;
}

.product-item button:first-of-type:hover {
  background-color: #ff7e4b;
}

.product-item button:nth-of-type(2) {
  background-color: #ea9085;
  color: white;
}

.product-item button:nth-of-type(2):hover {
  background-color: #e4513d;
}

.product-item button:last-of-type {
  background-color: #dc3545;
  color: white;
}

.product-item button:last-of-type:hover {
  background-color: #c82333;
}

.product-modal {
  max-width: 800px;
  width: 90%;
  height: 80%;
  overflow-y: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal {
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-actions button:first-of-type {
  background-color: #dc3545; /* 삭제 확인 버튼 */
  color: white;
}

.modal-actions button:first-of-type:hover {
  background-color: #c82333;
}

.modal-actions button:last-of-type {
  background-color: #6c757d; /* 취소 버튼 */
  color: white;
}

.modal-actions button:last-of-type:hover {
  background-color: #5a6268;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-bar button {
    width: 100%;
  }

  .product-list table {
    font-size: 14px;
  }

  .product-item button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .product-modal {
    max-width: 90%;
    width: 90%;
  }

  .delete-modal {
    width: 90%;
  }
}