.footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    position: bottom;
    bottom: 0;
    width: 100%;
  }
  .footer {
    background-color: #333; /* 상단바 배경색과 동일하게 설정 */
    color: white;
    text-align: center;
    padding: 10px 20px; /* 추가 패딩 */
   margin-left:260px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    align-self: flex-start; /* 왼쪽 상단에 배치 */
  }
  
  .footer-managers {
    margin: 20px;
    position: absolute;
    right: 80px;
  }
  
  .footer-team {
    margin: 0 auto;
    text-align: center; /* 가운데 정렬 */
    position: absolute;
    bottom: 10px; /* 하단에 배치 */
    left: 50%;
    transform: translateX(-50%);
  }