.notification-item {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  
  .notification-item.warning {
    background-color: white;
  }
  
  .notification-item.danger {
    background-color: white;
    color: black;
  }
  
  .stock {
    background-color: skyblue;
    color: black;
  }
  
  .notification-item .close-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
  }